body{
  margin: 0;
  padding: 0;
  font-size: 32px;
    background-color: #ccc;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
}

.button-box button{
    border: none;
    background-color: royalblue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 31px;
    border-radius: 5px;
}

.button-box button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

table {
  margin: 50px;
  width: 60%;
}
td {
  padding: 20px;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

th {
  border: 1px solid black;
  height: 20px;
  background-color: white;

}

.header {
  display: flex;
  align-items: center;
  background-color: #333;
  height: 58px;
}

.header span {
  color: white;
  text-transform: uppercase;
}
